[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fossilbrush"]
	path = fossilbrush
	url = https://github.com/jf15558/fossilbrush
